<!-- Caso a promoção esteja carregada -->
<div *ngIf="promotion">

  <section class="section section_header">
    <div class="container">
      <h1 class="text_title">
        <i class="title_icon">
          <img [src]="serverUrl+'/arrow-faq-collapsed.png'" alt=""></i>
        {{promotion.title}}
      </h1>

      <div class="promotion_highlight">
        <div class="side_image background_cover" style="background-image: url(http://localhost:3000/hightlight.jpg)"></div>
        <div class="side_info">
          <h2>{{promotion.highlightTitle}}</h2>
          <hr>
          <h3>{{promotion.highlightText}}</h3>

          <a [href]="promotion.highlightButtonLink" class="button_action">{{promotion.highlightButtonText}}
            <img [src]="serverUrl+'/arrow-faq-collapsed.png'" class="arrow" alt=""></a>
        </div>
      </div>
    </div>
  </section>


  <section class="section section_steps">
    <div class="container">
      <h1 class="text_title">{{promotion.stepsTitle}}</h1>
      <div class="steps">
        <ng-container *ngFor="let step of promotion.steps; let i = index">
          <div class="step">
            <h3 class="step_title"> <span>{{step.title}}</span>  </h3>
            <p class="step_description">{{step.desc}}</p>
          </div>
          <img [src]="serverUrl+'/arrow-steps.gif'" *ngIf=" i < promotion.steps.length-1" alt="">
        </ng-container>
      </div>
    </div>
  </section>


  <section class="section_calendar section">
    <h1 class="text_title">{{promotion.calendarTitle}}</h1>
    <img class="margin-bottom" [src]="promotion.calendarPeriod" alt="">
    <p class="calendar_date ">{{promotion.calendarDate}}</p>
  </section>



  <section class="section_faq section background_cover">
    <div class="section_faq_header">
      <div class="container">
        <h1 class="text_title">{{promotion.faqTitle}}</h1>
      </div>
    </div>
    <div>
      <div class="container">
        <div class="questions">
          <div *ngFor="let q of promotion.faq; let i = index" [class.opened]="i==faqAccord.current" class="question">
            <a (click)="faqAccord.select(i)" class="question_title">{{q.question}}</a>
            <div class="question_answer" [innerHtml]="q.answer"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section_footer">
    <div class="container">
        {{promotion.disclaimerText}}
    </div>
  </section>

</div>


<!-- Caso a promoção não esteja carregada -->
<div *ngIf="!promotion">
  Carregando...
</div>