@import "../../../../styles/variables";

.section_header {
    padding-top: 150px;

    .text_title {

        .title_icon {
            transform: rotate(180deg);
        }
    }


.promotion_highlight {
    width: 100%;
    $height: 400px;

    height: $height;
    background: #eee;
    display: flex;
    position: relative;

    .side_image {
        height: $height;
        flex-grow: 1;
        flex: 1;
    }

    .side_info{

        $color1: #0d499b;
        $color2: #252f66;
        $padding-size: 40px;
        position: relative;


        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$color2+0$color1+100 */
        background: $color2; /* Old browsers */
        background: -moz-linear-gradient(45deg, $color2 0%, $color1 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(45deg, $color2 0%,$color1 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(45deg, $color2 0%,$color1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#252f66', endColorstr='#0d499b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

        color: $text-light-color;
        width: 400px;
        height: $height;

        padding: 40px;

        hr {
            border: none;
            border-top: 2px solid #385aae;
            width: 90%;
            margin:30px auto;
        }

        .button_action {
            position: absolute;
            bottom: $padding-size;
            left: $padding-size;
            right: $padding-size;
            display: block;
            padding: 15px;
            text-align:center;
            border: 2px solid $color-secondary;
            background: $color-secondary;
            border-radius: $border-raduis;
            text-decoration: none;
            transition: background ease .2s;

            .arrow {
                opacity: 0;
                transform: translate(-10px,0);
                transition:
                    opacity ease .2s,
                    transform ease .2s;
            }

            &:hover {
                background: transparent;
                color: #fff;
                transform: scale(1.05);

                .arrow {
                    opacity: 1;
                    transform: translate(0,0);
                }
            }
        }
    }

}   

}

    





.section_steps {
    margin-top: 100px;

    .text_title {
        color: $color-secondary;
        text-align: center;
        margin-bottom: 60px;
    }

    .steps {
        display: flex;
        .step {
            flex: 1;
            padding: 0 30px;
            text-align: center;
            transition: scale ease 1s;

            .step_title {
                color: $color-secondary;
                font-weight: 400;
                font-size: 3rem;

                span {
                    display: inline-block;
                    background: $color-secondary;
                    color: #fff;
                    margin: auto;
                    width: 80px;
                    height: 80px;
                    padding-top: 10px;
                    border-radius: 100%;
                }
            }

            &:hover {
                transform: scale(1.1);
                .step_title span {
                    background: $color-primary;
                }
            }
        }
    }

}



.section_calendar {
    background: $color-secondary;
    color: #fff;
    padding:50px 0;
    text-align: center;

    .text_title {
    }

    .calendar_date {
        color: $color-primary;
        font-weight: 700;
    }
}


.section_faq {
    margin-bottom: 100px;

    .section_faq_header {
        background: #223470;
        color: #fff;
        padding: 50px 0;
        margin-bottom: 50px;
        text-align: center;

        .text_title {
            margin: 0;
        }
    }

    .questions {

        .question {
            margin-bottom: 30px;
            font-weight: 100;
            border-bottom: 2px dotted #eee;

            a.question_title {
                color: #223470!important;
                font-size: 25px;
                font-weight: 100;
                margin: 10px 0 10px 0;
                width: 100%;
                display: block;
                padding: 10px 40px 10px 0px;
                position: relative;
                cursor: pointer;

                &::after {
                    content: " ";
                    background: url($websiteUrl+'arrow-faq-collapsed.png') no-repeat center center;
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    right: 0;
                    top: 12px;
                }
            }

            .question_answer {
                max-height: 0;
                overflow: hidden;
                padding-left: 40px;
                transition: max-height ease .6s;
            }

            &.opened {
                a.question_title::after {
                    transform: rotate(90deg)
                }

                .question_answer {
                    height: auto;
                    max-height: 150px;
                }
            }

        }

    }

}

.section_footer {
    font-size: 13px;
    font-weight: 100;
    margin-top: 40px;
    margin-bottom: 80px;
    text-align: center;
}