$color-primary: #0d499b;
$color-primary2: #252f66;
$color-secondary: #F7AE23;

$font-family: 'Fira Sans', sans-serif;

$border-raduis: 3px;

$text-light-color: #eee;
$text-dark-color: #222;

$websiteUrl: 'http://localhost:3000/';